body { color:#000000; background-color:#ffffff; font-family:arial,sans-serif; font-size:100.01%}

.fliesstext { text-align:justify; font-size:0.8em; line-height:1.5em}

#cont { position:relative; top:0px; left:0px; float:none; width:70%; margin-left:22em; margin-right:0px; margin-bottom:10px; margin-top:0px; padding-left:10px; padding-right:0px; padding-bottom:0px; padding-top:0px; display:block;}
#mnu { position:absolute; top:10px; left:10px; float: none; overflow: hidden; z-index:3; width:30em; overflow:auto;}

.klein { font-size:0.6em; }

input, textarea, select { font-family:arial,sans-serif; font-size:1em; border:1px solid black; }
option { font-family:arial,sans-serif; font-size:1em; width:28em; }

form label {
	display: block;
	float: left;
	width: 8em;
	vertical-align: top;
	clear: both;
}

.enterdata {
	margin-bottom: 2px;
	width: 30em;
	display: block;
	float: right;
}

.enterbutton {
	margin-bottom: 2px;
	width: 8em;
	display: block;
	float: right;
	clear: both;
}

br {
	clear: left;
}

form + * {
	clear: left;
}

div.formblock {
	display: block;
	width: 38.5em;
}

div.listitem { padding: 0px 2px 0px 2px; cursor: pointer; }
div:hover.listitem { background-color: #ff00ff; }
